<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Houses</h1>
    </div>
    <div class="m-3 px-3">
      <form onsubmit="app.HousesController.createHouse()">
        <div class="mb-3">
          <label for="description" class="form-label">House Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="House description..."
            required
            maxlength="100"
            name="description"
          />
        <div class="mb-3">
          <label for="year" class="form-label">House Year</label>
          <input
            type="number"
            class="form-control"
            id="year"
            placeholder="House year..."
            required
            maxlength="100"
            name="year"
          />
        <div class="mb-3">
          <label for="levels" class="form-label">How Many Floors?</label>
          <input
            type="number"
            class="form-control"
            id="levels"
            placeholder="House levels..."
            required
            maxlength="100"
            name="levels"
          />
        </div>
        <div class="mb-3">
          <label for="imgUrl" class="form-label">House ImgUrl</label>
          <input
            type="url"
            class="form-control"
            id="imgUrl"
            required
            maxlength="2000"
            name="imgUrl"
          />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">House Price</label>
          <input
            type="number"
            class="form-control"
            id="price"
            placeholder="House Price..."
            required
            maxlength="100"
            name="price"
          />
        </div>
        <div class="mb-3">
          <label for="bedrooms" class="form-label">Number Of Bedrooms</label>
          <input
            type="number"
            class="form-control"
            id="bedrooms"
            placeholder="Number of Bedrooms..."
            required
            maxlength="2"
            name="bedrooms"
          />
        </div>
        <div class="mb-3">
          <label for="bathrooms" class="form-label">Number Of Bathrooms</label>
          <input
            type="number"
            class="form-control"
            id="bathrooms"
            placeholder="Number of Bathrooms..."
            required
            maxlength="2"
            name="bathrooms"
          />
        </div>
        <div class="mb-3">
          <label for="sqft" class="form-label">Square Footage</label>
          <input
            type="number"
            class="form-control"
            id="sqft"
            placeholder="Square Footage..."
            required
            maxlength="5"
            name="sqft"
          />
        </div>
        <div class="text-end">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row" id="housesListings"></div>
</div>
